*{
    border:1px solid red;
}

#home-page{
    displayL:flex;

}

.p1{
    background-color: #1f2937;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    gap:400px;
     
    
}

.list{
list-style-type: none;
display: flex;
gap:25px;
flex-basis:80%;
}

.logo{
    width:100px;
    height:300px;
    flex-basis:20%;
}
.cat{
    width: auto;
    height:400px;
}

.intro{
    display: flex;
    justify-content:center;
}

.main{
    font-size:48px;
    font-weight:bolder;
    color:#f9faf8
}

.secondary{
    color:#e5e7eb;
    font-size:18px;
}

.sign{
    
    background-color: #3882f6;
}